#progress-bar {
    width: 100%;
    height: 20px;
    background-color: #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
}

#progress-bar-fill {
    width: 0;
    height: 100%;
    background-color: #4caf50;
    transition: width 0.3s ease;
}

#progress-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    color: #333;
}

.wrap-button {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gather-results-btn {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

#gather-results-btn:hover {
    background-color: #45a049;
}

#gather-results-btn.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.file-types-table-container {
    position: relative;
    margin-bottom: 20px;
    margin-top: 10px;
}

.button {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
}

.wp-list-table tbody tr.hidden {
    display: none;
}

.file-types-table-container.show-all .wp-list-table tbody tr {
    display: table-row;
}

.file-types-table-container.show-all .wp-list-table tbody tr.hidden {
    display: none;
}